
<div *ngIf="values" class="" style="display: block">
    <h4 class="card-title">Temperature</h4>
    <canvas mdbChart 
      [chartType]="chartType" 
      [datasets]="chartTemp" 
      [labels]="chartLabels" 
      [colors]="chartColors" 
      [options]="chartOptions"
      [legend]="false" 
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
    </canvas>
</div>
<div *ngIf="values" class="" style="display: block">
  <h4 class="card-title">Humidity</h4>
  <canvas mdbChart 
    [chartType]="chartType" 
    [datasets]="chartHumid" 
    [labels]="chartLabels" 
    [colors]="chartColors" 
    [options]="chartOptions"
    [legend]="false" 
    (chartHover)="chartHovered($event)" 
    (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div *ngIf="values" class="" style="display: block">
  <h4 class="card-title">CO² level</h4>
  <canvas mdbChart 
    [chartType]="chartType" 
    [datasets]="chartCO2" 
    [labels]="chartLabels" 
    [colors]="chartColors" 
    [options]="chartOptions"
    [legend]="false" 
    (chartHover)="chartHovered($event)" 
    (chartClick)="chartClicked($event)">
  </canvas>
</div>