<div class="legende" (mouseenter)='over()'(mouseleave)='leave()'>
  <p>Air Quality Value legend</p>
  <p>The Value of the Air Quality is calculated by all the sensors in the room.</p>
  <p>This gives us a good idea in what shape a specific room is.</p>
  <p>One is very good, 40 is the worst you can have.</p>
  
  <ul class="legend">
    <li><span class="first"></span>Awesome 1-10</li>
    <li><span class="second"></span>Good 11-20</li>
    <li><span class="third"></span>Bad 21-30</li>
    <li><span class="fourth"></span>Worst 31-40</li>
  </ul>
</div>
