<div class="legende">
  <p><strong>Air quality value legend</strong></p>
  <p>The value of the air quality is calculated by all the sensors in the room.</p>
  <p>This gives us a good idea in what shape a specific room is.</p>

  
  <ul class="legend">
    <li><span class="first"></span>Bad</li>
    <li><span class="second"></span>Slighty too low</li>
    <li><span class="third"></span>Good</li>
    <li><span class="fourth"></span>Slighty too much </li>
    <li><span class="fifth"></span>Bad</li>
    <li><span class="sixt"></span>No sensors attached</li>
  </ul>
</div>
