<!-- HIDDEN / POP-UP DIV -->
      <div class="pop-up">
        <h3>Short summary</h3>
        <p>
          Temperature: <br>
          CO: <br>
          Humidity: <br>
        </p>
      </div>

      <button type="button" class="btn btn-primary relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Add a room</button>
      
      <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                          <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">Give room specifications</h4>
                  </div>
                  <div class="modal-body">
                    <p>height: <input type="text" style="width:5em" #height [(ngModel)] = "heighta" value="{{heighta}}"/></p>
                    <p>width: <input type="text" style="width:5em" #width [(ngModel)] = "widtha" value="{{widtha}}"/></p>
                    <p>x: <input type="text" style="width:5em" #width [(ngModel)] = "X" value="{{X}}"/></p>
                    <p>y: <input type="text" style="width:5em" #width [(ngModel)] = "Y" value="{{Y}}"/></p>
                    <p>color: <input type="text" style="width:5em" #width [(ngModel)] = "Color" value="{{Color}}"/></p>
                    <p>ID <input type="text" style="width:5em" #width [(ngModel)] = "ID" value="{{ID}}"/></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                      <button type="button" class="btn btn-primary relative waves-light" (click)="AddRoom()" mdbWavesEffect>Save changes</button>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="d-flex">

          <svg
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
          width="1262"
          height="706.28961"
          viewBox="0 0 1262 706.28961"
          version="1.1"
          id="svg8"
          inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
          sodipodi:docname="BottomFloor.svg">
         <defs
            id="defs2" />
         <sodipodi:namedview
            id="base"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageopacity="0.0"
            inkscape:pageshadow="2"
            inkscape:zoom="0.49497475"
            inkscape:cx="1228.8339"
            inkscape:cy="284.31762"
            inkscape:document-units="px"
            inkscape:current-layer="layer1"
            showgrid="false"
            units="px"
            width="1920mm"
            inkscape:window-width="1920"
            inkscape:window-height="1017"
            inkscape:window-x="1912"
            inkscape:window-y="-8"
            inkscape:window-maximized="1"
            inkscape:snap-global="false"
            fit-margin-top="0"
            fit-margin-left="0"
            fit-margin-right="0"
            fit-margin-bottom="0" />
         <metadata
            id="metadata5">
           <rdf:RDF>
             <cc:Work
                rdf:about="">
               <dc:format>image/svg+xml</dc:format>
               <dc:type
                  rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
               <dc:title></dc:title>
             </cc:Work>
           </rdf:RDF>
         </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-11.249961)"
     >
    <rect
       id="rect10"
       width="1260"
       height="100"
       x="1.4285715"
       y="12.678515"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2"
       width="85"
       height="175"
       x="424.0802"
       y="112.67851"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6"
       width="505"
       height="115"
       x="6.071424"
       y="287.32138"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-4"
       width="570"
       height="85"
       x="641.07141"
       y="272.32141"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-4-7"
       width="70"
       height="110"
       x="948.2627"
       y="162.20747"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-8"
       width="281.04684"
       height="63.358971"
       x="340.54803"
       y="401.44083"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-8-6"
       width="340"
       height="142"
       x="590.06494"
       y="574.96814"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-8-6-0"
       width="630"
       height="100"
       x="621.35303"
       y="475.27267"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       id="rect10-2-6-8-6-6"
       width="67.856789"
       height="143.10306"
       x="553.72784"
       y="464.61966"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2">
    <rect *ngFor ="let room of RoomItems|async"
    class="trigger"
    [ngStyle] ="{'fill':room.color}"
       [attr.y]="room.y"
       [attr.x]="room.x"
       [attr.height]="room.height"
       [attr.width]="room.width"
       [attr.id]="room.id"
       (click) = "test(room.id)"
       />
    
  <!--  <rect
       y="55.819889"
       x="3.3875332"
       class="trigger"
       height="43.617329"
       width="125.01066"
       id="rect3714-5"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.98935199;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71434127"
       inkscape:transform-center-y="0.353321" />-->
    <rect
       y="64.390068"
       x="171.99396"
       class="trigger"
       height="35"
       width="120"
       id="rect3714-5-3-0"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="64.375"
       x="294.91071"
       class="trigger"
       height="35"
       width="30"
       id="rect3714-5-3-0-8"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="64.411987"
       x="327.81122"
       class="trigger"
       height="35"
       width="125"
       id="rect3714-5-3-0-8-3"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="64.375008"
       x="510.98215"
       class="trigger"
       height="35"
       width="255"
       id="rect3714-5-3-0-8-3-0-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="64.469292"
       x="768.63159"
       class="trigger"
       height="35"
       width="75"
       id="rect3714-5-3-0-8-3-0-2-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="62.406151"
       x="875.62878"
       class="trigger"
       height="37"
       width="320"
       id="rect3714-5-3-0-8-3-0-2-9-6-0"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="55.714447"
       x="1204.4186"
       class="trigger"
       height="43.670929"
       width="55.072926"
       id="rect3714-5-3-0-8-3-0-2-9-6"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.8907814;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.52455582"
       inkscape:transform-center-y="0.4346132" />
    <rect
       y="3.3225904"
       x="3.4488766"
       class="trigger"
       height="50"
       width="200"
       id="rect3714"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="103.38945"
       x="426.06799"
       class="trigger"
       height="49.649673"
       width="57.006813"
       id="rect3714-5-3-0-8-3-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.96852005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71451942"
       inkscape:transform-center-y="0.34587691" />
    <rect
       y="156.04451"
       x="425.94513"
       class="trigger"
       height="50"
       width="57"
       id="rect3714-5-3-0-8-3-2-8"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961" />
    <rect
       y="208.85809"
       x="426.05576"
       class="trigger"
       height="22.394415"
       width="60.025761"
       id="rect3714-5-3-0-8-3-2-8-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.94957447;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71472738"
       inkscape:transform-center-y="0.339145" />
    <rect
       y="233.91074"
       x="426.00058"
       class="trigger"
       height="40.583038"
       width="40.103462"
       id="rect3714-5-3-0-8-3-2-8-1-7"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.87831163;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71626665"
       inkscape:transform-center-y="0.31413353" />
    <rect
       y="145.33186"
       x="509.07669"
       class="trigger"
       width="50.00605"
       id="rect3714-5-3-0-8-3-2-8-5"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.96928322;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71450521"
       inkscape:transform-center-y="0.34615203"
       height="79.500977" />
    <rect
       y="227.69472"
       x="508.99634"
       class="trigger"
       width="49.98819"
       id="rect3714-5-3-0-8-3-2-8-5-7"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.98714554;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71423854"
       inkscape:transform-center-y="0.35258061"
       height="30.366997" />
    <rect
       y="145.32874"
       x="562.48285"
       class="trigger"
       width="79.002136"
       id="rect3714-5-3-0-8-3-2-8-5-3"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.96304357;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.70549121"
       inkscape:transform-center-y="0.34834339"
       height="180.0123" />
    <rect
       y="261.63217"
       x="509.57922"
       class="trigger"
       width="51.011555"
       id="rect3714-5-3-0-8-3-2-8-5-7-5"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.89742351;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.72885228"
       inkscape:transform-center-y="0.73457054"
       height="63.265263" />
    <rect
       y="277.08102"
       x="402.29453"
       class="trigger"
       width="82"
       id="rect3714-5-3-0-8-3-2-8-5-7-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="277.14288"
       x="147.57143"
       class="trigger"
       width="250"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="276.42856"
       x="5.7142868"
       class="trigger"
       width="110"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-5"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="115" />
    <rect
       y="350.76761"
       x="120.05331"
       class="trigger"
       width="278.46478"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="39.893356" />
    <rect
       y="332.00003"
       x="700.71429"
       class="trigger"
       width="110"
       id="rect3714-5-3-0-8-3-2-8-5-7-0"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="60" />
    <rect
       y="278.78574"
       x="700.35712"
       class="trigger"
       width="110"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="50" />
    <rect
       y="346.97968"
       x="508.14493"
       class="trigger"
       width="188.96922"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-0"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.94520009;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.69233626"
       inkscape:transform-center-y="0.34854524"
       height="45.030136" />
    <rect
       y="152.02232"
       x="812.12604"
       class="trigger"
       width="150"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-8"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="110" />
    <rect
       y="322.63943"
       x="908.18042"
       class="trigger"
       width="65"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-88"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="323.09372"
       x="976.6424"
       class="trigger"
       width="50"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-88-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="323.09375"
       x="1030.1042"
       class="trigger"
       width="170"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-88-9-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="250.86781"
       x="1020.5917"
       class="trigger"
       width="240"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-88-9-1-4"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="40" />
    <rect
       y="181.16728"
       x="976.56622"
       class="trigger"
       width="40"
       id="rect3714-5-3-0-8-3-2-8-5-7-0-6-88-9-4"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.97533464;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.71442256"
       inkscape:transform-center-y="0.34831961"
       height="110" />
    <rect
       y="454.33905"
       x="267.91046"
       class="trigger"
       width="150"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="150" />
    <rect
       y="454.46429"
       x="421.25003"
       class="trigger"
       width="105"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="85" />
    <rect
       y="543.5354"
       x="421.26154"
       class="trigger"
       width="105"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-7"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="42" />
    <rect
       y="453.63184"
       x="539.95447"
       class="trigger"
       width="50"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="250" />
    <rect
       y="634.30719"
       x="853.06604"
       class="trigger"
       width="75"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.08197784;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79577474"
       inkscape:transform-center-y="0.34738333"
       height="70" />
    <rect
       y="565.67047"
       x="852.85828"
       class="trigger"
       width="75.078979"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.0030005;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.79661272"
       inkscape:transform-center-y="0.32120503"
       height="64.721832" />
    <rect
       y="663.14343"
       x="738.23108"
       class="trigger"
       width="110.75214"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="40.037846" />
    <rect
       y="663.18414"
       x="625.3269"
       class="trigger"
       width="108.27457"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.021703;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.74924708"
       inkscape:transform-center-y="0.34789344"
       height="40.060276" />
    <rect
       y="547.83826"
       x="745.69537"
       class="trigger"
       width="95"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="105" />
    <rect
       y="563.57141"
       x="602.50006"
       class="trigger"
       width="140"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="90" />
    <rect
       y="459.66693"
       x="620.7384"
       class="trigger"
       width="60"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.09227896;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76579648"
       inkscape:transform-center-y="0.36456735"
       height="83" />
    <rect
       y="466.07141"
       x="683.92859"
       class="trigger"
       width="160"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="30" />
    <rect
       y="510.48117"
       x="699.48114"
       class="trigger"
       width="141.75201"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-9"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:1.76882839;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="1.809219"
       inkscape:transform-center-y="0.11027922"
       height="25.109165" />
    <rect
       y="515.98206"
       x="859.44189"
       class="trigger"
       width="100"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="45" />
    <rect
       y="516.56335"
       x="962.67792"
       class="trigger"
       width="175"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="45" />
    <rect
       y="451.91354"
       x="875.17535"
       class="trigger"
       width="280"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2.04413033;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.76638478"
       inkscape:transform-center-y="0.34771393"
       height="45" />
    <rect
       y="451.75967"
       x="1157.8921"
       class="trigger"
       width="34.335609"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5-2-0"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:0.72622329;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.094021089"
       inkscape:transform-center-y="0.35788399"
       height="46.317905" />
    <rect
       y="452.18338"
       x="1193.9237"
       class="trigger"
       width="55.711544"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5-2-0-2"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:0.56348979;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.15260652"
       inkscape:transform-center-y="0.13279989"
       height="17.186216" />
    <rect
       y="470.90414"
       x="1219.7156"
       class="trigger"
       width="28.876619"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5-2-0-2-6"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:0.62937242;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.079069705"
       inkscape:transform-center-y="0.31960758"
       height="41.363995" />
    <rect
       y="529.95984"
       x="1140.1278"
       class="trigger"
       width="28.953045"
       id="rect3714-5-3-0-8-3-2-8-5-7-9-9-4-8-9-79-9-7-2-3-1-1-2-5-2-0-2-6-4"
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:0.55294764;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       inkscape:transform-center-x="0.079274091"
       inkscape:transform-center-y="0.24604077"
       height="31.843969" />
       
  </g>
  
</svg>
</div>
