<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Air Quality</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link waves-light" [routerLink]="['/home']" mdbRippleRadius>Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link waves-light" [routerLink]="['/floorplan']" mdbRippleRadius>Floor Plan</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link waves-light" [routerLink]="['/roominfo']" mdbRippleRadius>Room Information</a>
          </li>

      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->