<div class="row">
<div class=" col-md-2">

</div>
<div class="card  col-md-8">
 <div class="form-group">
 <div *ngFor="let t of sensors | async" class="card-body">
     <h4>Room {{t.id}}</h4>
     <p>temperatuur: {{t.temp}}</p>
     <input type="number" #updatenumber value = "{{t.temp}}" (click)="updateTemp(t.key,updatenumber.value)"/>

     <p>maxtemperatuur: {{t.maxtemp}}</p>
     <input type="number" #updatenumber2 value = "{{t.maxtemp}}" (click)="updateMaxTemp(t.key,updatenumber2.value)"/>
     
 </div>
 </div>
    
  </div>

<div class=" col-md-2">

</div>
</div>