<svg
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:cc="http://creativecommons.org/ns#"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:svg="http://www.w3.org/2000/svg"
xmlns="http://www.w3.org/2000/svg"
xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
width="1920"
height="1080"
viewBox="0 0 1920 1080"
version="1.1"
id="svg8"
inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
sodipodi:docname="Floorplan.svg"
>
<defs
  id="defs2" />
<sodipodi:namedview
  id="base"
  pagecolor="#ffffff"
  bordercolor="#666666"
  borderopacity="1.0"
  inkscape:pageopacity="0.0"
  inkscape:pageshadow="2"
  inkscape:zoom="0.49497475"
  inkscape:cx="323.00977"
  inkscape:cy="1030.5445"
  inkscape:document-units="px"
  inkscape:current-layer="layer2"
  showgrid="false"
  units="px"
  width="1920mm"
  inkscape:window-width="1920"
  inkscape:window-height="1017"
  inkscape:window-x="1912"
  inkscape:window-y="-8"
  inkscape:window-maximized="1" />
<metadata
  id="metadata5">
 <rdf:RDF>
   <cc:Work
      rdf:about="">
     <dc:format>image/svg+xml</dc:format>
     <dc:type
        rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
     <dc:title></dc:title>
   </cc:Work>
 </rdf:RDF>
</metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(250,-11.249961)">
    <rect
       id="rect10"
       width="825"
       height="140"
       x="1.4285715"
       y="179.10709"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4508"
       width="107.80111"
       height="249.76277"
       x="919.34186"
       y="12.201484" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4510"
       width="200"
       height="50"
       x="1028.5715"
       y="211.96423" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4512"
       width="108.71796"
       height="363.70145"
       x="581.28204"
       y="319.69141" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4514"
       width="264.30994"
       height="300.26447"
       x="691.42859"
       y="413.39285" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4516"
       width="377.11865"
       height="119.99997"
       x="955.73853"
       y="413.39285" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect862"
       width="92.913269"
       height="82.857162"
       x="826.42859"
       y="179.1071" />
    <rect
       style="fill:#969695;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect913"
       width="244.22769"
       height="363.82773"
       x="340.14792"
       y="319.69138"
       ry="8.4824223e-006" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(250,0)">
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4519"
       width="110"
       height="40"
       x="3.3622169"
       y="169.95668" />
    <rect
       y="265.58432"
       x="3.3622169"
       height="40"
       width="110"
       id="rect4521"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4523"
       width="200"
       height="50"
       x="140.93837"
       y="170.00002" />
    <rect
       y="170.35715"
       x="342.42822"
       height="50"
       width="50"
       id="rect4525"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="170.14796"
       x="394.0047"
       height="50"
       width="50"
       id="rect4527"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4529"
       width="100"
       height="50"
       x="445.64252"
       y="170.29587" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4531"
       width="50"
       height="50"
       x="547.15771"
       y="170.80096" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4533"
       width="25"
       height="55"
       x="597.9693"
       y="170.48714" />
    <rect
       y="170.07819"
       x="623.29657"
       height="55"
       width="200"
       id="rect4535"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="255.5843"
       x="113.36222"
       height="50"
       width="115"
       id="rect3714"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect3718"
       width="115"
       height="50"
       x="228.36223"
       y="255.5843" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect3720"
       width="115"
       height="30"
       x="709.28204"
       y="275.58429" />
    <rect
       y="245.58427"
       x="644.28204"
       height="60"
       width="65"
       id="rect26"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect30"
       width="50"
       height="60"
       x="594.28204"
       y="245.58427" />
    <rect
       y="255.58427"
       x="531.28204"
       height="50"
       width="50"
       id="rect32"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="378.9465"
       x="555.17334"
       height="280"
       width="35"
       id="rect837"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="245.45802"
       x="792.35217"
       height="31"
       width="30"
       id="rect835"
       style="fill:#25b221;fill-opacity:1;stroke:#25b221;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="255.5843"
       x="228.36223"
       height="50"
       width="115"
       id="rect838"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#969695;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect842"
       width="187.9198"
       height="49.642822"
       x="343.36221"
       y="255.94145" />
    <rect
       y="245.58427"
       x="709.28204"
       height="18.571415"
       width="61.285706"
       id="rect844"
       style="fill:#969695;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       ry="0" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect846"
       width="19.560659"
       height="17.778965"
       x="823.29657"
       y="225.07817" />
    <rect
       y="169.1557"
       x="853.56775"
       height="30"
       width="65"
       id="rect848"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect841"
       width="200"
       height="50"
       x="916.70215"
       y="213.44656" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect843"
       width="30"
       height="50"
       x="1116.1617"
       y="213.59311" />
    <rect
       y="213.57283"
       x="1145.5017"
       height="50"
       width="40"
       id="rect845"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="145.05898"
       x="1026.7021"
       height="55"
       width="250"
       id="rect847"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect856"
       width="35"
       height="70"
       x="921.30231"
       y="47.875061" />
    <rect
       y="55.043297"
       x="989.6391"
       height="115"
       width="35"
       id="rect858"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect860"
       width="90"
       height="35"
       x="921.39154"
       y="2.5485561" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect869"
       width="115"
       height="55"
       x="695.7998"
       y="416.80515" />
    <rect
       y="416.75308"
       x="810.5498"
       height="50"
       width="20"
       id="rect871"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect873"
       width="20"
       height="50"
       x="831.258"
       y="417.25815" />
    <rect
       y="404.17825"
       x="890.75928"
       height="50"
       width="85"
       id="rect875"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect877"
       width="290"
       height="50"
       x="1039.6453"
       y="403.8465" />
    <rect
       y="465.27509"
       x="1213.931"
       height="55"
       width="60"
       id="rect879"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect881"
       width="20"
       height="25"
       x="1273.8418"
       y="467.23938" />
    <rect
       y="465.1153"
       x="1179.0645"
       height="55"
       width="35"
       id="rect883"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect887"
       width="35"
       height="55"
       x="1144.4216"
       y="465.1153" />
    <rect
       y="464.99887"
       x="930.86761"
       height="20"
       width="75"
       id="rect889"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#25b221;fill-opacity:1;stroke:#25b221;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect891"
       width="30"
       height="20"
       x="932.89056"
       y="484.38275" />
    <rect
       y="506.448"
       x="900.73853"
       height="200"
       width="55"
       id="rect893"
       style="fill:#2121b2;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#2121b2;fill-opacity:1;stroke:#2121b2;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect895"
       width="230"
       height="50"
       x="671.27423"
       y="654.2439" />
    <rect
       y="120.22717"
       x="923.36224"
       height="79.64283"
       width="29.348328"
       id="rect897"
       style="fill:#969695;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#969695;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect901"
       width="85.896965"
       height="115.86368"
       x="609.43365"
       y="397.37003" />
    <rect
       y="531.29858"
       x="630.14795"
       height="113.09306"
       width="253.13524"
       id="rect903"
       style="fill:#969695;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect905"
       width="146.29091"
       height="45.914349"
       x="734.43365"
       y="488.79858" />
    <rect
       y="406.4032"
       x="979.22571"
       height="45.423004"
       width="58.466888"
       id="rect907"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect909"
       width="134.89136"
       height="51.587749"
       x="1009.5303"
       y="468.52756" />
    <rect
       y="218.52809"
       x="26.21936"
       height="35"
       width="60"
       id="rect911"
       style="fill:#25b221;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       y="307.72717"
       x="602.64795"
       height="110.86368"
       width="15.182687"
       id="rect916"
       style="fill:#969695;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect918"
       width="64.56073"
       height="35.99284"
       x="584.37561"
       y="668.34058" />
    <rect
       y="199.73566"
       x="910.8504"
       height="13.671819"
       width="19.024954"
       id="rect920"
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect922"
       width="15.453535"
       height="11.350386"
       x="1021.9218"
       y="201.87851" />
    <rect
       y="304.90909"
       x="586.37671"
       height="5.3682251"
       width="7.7750068"
       id="rect924"
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect926"
       width="5.2749982"
       height="14.47535"
       x="687.98895"
       y="515.06635" />
    <rect
       y="644.43768"
       x="688.49402"
       height="7.7788873"
       width="5.2750244"
       id="rect928"
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <rect
       style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect930"
       width="5.2750244"
       height="7.7788873"
       x="952.64978"
       y="455.61371" />
    <rect
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect932"
       width="43.815247"
       height="34.162537"
       x="965.71503"
       y="485.95276" />
    <rect
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect934"
       width="31.356894"
       height="47.274124"
       x="853.78339"
       y="404.88379" />
  </g>
</svg>
