<div class="row d-flex justify-content-center px-5">
    <div class="col p-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
            </div>
        </div>
    </div>

    <div class="col p-2">

        <div class="btn-group">
            <button type="button" [ngClass]="btnGraphState" (click)="setGraphActive()">Graph</button>
            <button type="button" [ngClass]="btnDiagramState" (click)="setDiagramActive()">Diagram</button>
        </div>
        <div class="card">

            <div class="card-body">
                <app-graph></app-graph>
            </div>
        </div>
    </div>
</div>