<div class="row d-flex justify-content-center px-5">

<div class="legende" (mouseenter)='over()'(mouseleave)='leave()'>
  <p>Air Quality Value legend</p>
  <p>The Value of the Air Quality is calculated by all the sensors in the room.</p>
  <p>This gives us a good idea in what shape a specific room is.</p>
  <p>One is very good, 40 is the worst you can have.</p>
  
  <ul class="legend">
    <li><span class="first"></span>Awesome 1-10</li>
    <li><span class="second"></span>Good 11-20</li>
    <li><span class="third"></span>Bad 21-30</li>
    <li><span class="fourth"></span>Worst 31-40</li>
  </ul>
</div>

<div >
  <div *ngIf="showSelected" [ngStyle]="{'color':color}">test</div>
</div>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1024"
   height="768"
   viewBox="0 0 1024 768"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
   sodipodi:docname="floorplan.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.7"
     inkscape:cx="512"
     inkscape:cy="426.70666"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     inkscape:window-width="944"
     inkscape:window-height="1001"
     inkscape:window-x="960"
     inkscape:window-y="0"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g class="kamer"
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-93.80003)">
     <!-- omkadering van kamer -->
    <rect
       id="rect3699"
       width="187.14285"
       height="164.28572"
       x="21.428572"
       y="120.37146" />
    <rect
       id="rect3699-8"
       width="187.14285"
       height="164.28572"
       x="212.57143"
       y="120.37146"
       inkscape:transform-center-x="52.857143"
       inkscape:transform-center-y="1.4285714" />
    <rect
       id="rect3699-4"
       width="187.14285"
       height="164.28572"
       x="403.71429"
       y="120.37146" />
    <rect
       id="rect3699-3"
       width="187.14285"
       height="164.28572"
       x="212.57147"
       y="452.94287" />
    <rect
       id="rect3699-3-4"
       width="187.14285"
       height="164.28572"
       x="403.71432"
       y="452.94287" />
    <rect
       id="rect3699-3-2"
       width="187.14285"
       height="164.28572"
       x="782"
       y="452.94287" />
    <rect
       id="rect3699-3-3"
       width="187.14285"
       height="164.28572"
       x="594.85718"
       y="120.37146" />
    <rect
       id="rect3699-3-8"
       width="187.14285"
       height="164.28572"
       x="782"
       y="284.65717" />
    <rect
       id="rect3699-3-49"
       width="187.14285"
       height="164.28572"
       x="21.428619"
       y="452.94287" />
    <rect
       id="rect3699-3-7"
       width="187.14285"
       height="164.28572"
       x="403.71432"
       y="621.22858" />
   <rect
       id="rect3699-3-39"
       width="187.14285"
       height="164.28572"
       x="782"
       y="621.22858" />
       <!-- opvulling van de kamer-->
    <path [ngStyel]="{'opacity':opacity}"
       class="test"
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 21.714285,109.00763 V 27.579057 h 92.857145 92.85714 V 109.00763 190.4362 H 114.57143 21.714285 Z"
       id="path3788"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#ff0000;stroke-width:1.42857146"
       d="M 21.714285,441.86477 V 360.4362 h 92.857145 92.85714 v 81.42857 81.42857 H 114.57143 21.714285 Z"
       id="path3790"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#008000;stroke-width:1.42857146"
       d="M 213.14286,441.86477 V 360.4362 H 306 398.85714 v 81.42857 81.42857 H 306 213.14286 Z"
       id="path3792"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#ffff00;stroke-width:1.42857146"
       d="M 213.14286,109.00763 V 27.579057 H 306 398.85714 V 109.00763 190.4362 H 306 213.14286 Z"
       id="path3794"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 213.14286,441.86477 V 360.4362 H 306 398.85714 v 81.42857 81.42857 H 306 213.14286 Z"
       id="path3796"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 404.57143,109.00763 V 27.579057 h 92.85714 92.85714 v 81.428573 81.42857 h -92.85714 -92.85714 z"
       id="path3798"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 404.57143,441.86477 V 360.4362 h 92.85714 92.85714 v 81.42857 81.42857 h -92.85714 -92.85714 z"
       id="path3800"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="m 404.57143,609.00763 v -81.42857 h 92.85714 92.85714 v 81.42857 81.42857 h -92.85714 -92.85714 z"
       id="path3802"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 783.14286,609.00763 V 527.57906 H 876 968.85714 v 81.42857 81.42857 H 876 783.14286 Z"
       id="path3804"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 783.14286,441.86477 V 360.4362 H 876 968.85714 v 81.42857 81.42857 H 876 783.14286 Z"
       id="path3806"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 783.14286,273.29334 V 191.86477 H 876 968.85714 v 81.42857 81.42857 H 876 783.14286 Z"
       id="path3808"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#00ff00;stroke-width:1.42857146"
       d="M 596,109.00763 V 27.579057 h 92.85714 92.85715 V 109.00763 190.4362 H 688.85714 596 Z"
       id="path3810"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#ff0000;stroke-width:1.42857146"
       d="M 783.14286,609.00763 V 527.57906 H 876 968.85714 v 81.42857 81.42857 H 876 783.14286 Z"
       id="path3812"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
    <path
       style="fill:#ffff00;stroke-width:1.42857146"
       d="M 783.14286,273.29334 V 191.86477 H 876 968.85714 v 81.42857 81.42857 H 876 783.14286 Z"
       id="path3814"
       inkscape:connector-curvature="0"
       transform="translate(0,93.80003)" />
  </g>
</svg>



</div>