<div class="row">

  <div class=" col-md-2"></div>
  <div class=" col-md-5">
      <!--Card-->
      <div class="card card-cascade wider reverse my-4">
      
          <!--Card image-->
          <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
              <a href="#!">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!--/Card image-->
      
          <!--Card content-->
          <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title"><strong>Air-Quality</strong></h4>
              <h5 class="indigo-text"><strong>Photography</strong></h5>
      
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
      
              <!--Linkedin-->
              <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
              <!--Twitter-->
              <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
              <!--Dribbble-->
              <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      
          </div>
          <!--/.Card content-->
      
      </div>
      <!--/.Card-->




  </div>
<!-- Default form login -->
<form class="col-md-3">
    <div class="card card-cascade wider reverse my-4">
  <p class="h4 text-center mb-4 my-3">Sign in</p>

  <!-- Default input email -->
  <label for="defaultFormLoginEmailEx" class="grey-text ml-2">Your email</label>
  <input type="email" id="defaultFormLoginEmailEx" class="form-control">

  <br>

  <!-- Default input password -->
  <label for="defaultFormLoginPasswordEx" class="grey-text ml-2">Your password</label>
  <input type="password" id="defaultFormLoginPasswordEx" class="form-control">

  <div class="text-center mt-4">
      <button class="btn btn-red" type="submit" >Login<i class="fa fa-user ml-2" aria-hidden="true"></i></button>
  </div>

  <p class="text-center mb-4 red-text"> Not an account yet? <b>Create one here!</b></p>
</div>
</form>
<!-- Default form login -->
<div class=" col-md-2"></div>
</div>