<div class="row">

  <div class=" col-md-2"></div>
  <div class=" col-md-8">
      <!--Card-->
      <div class="card card-cascade wider reverse my-4">
      
          <!--Card image-->
          <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
              <a href="#!">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!--/Card image-->
      
          <!--Card content-->
          <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title"><strong>Air-Quality</strong></h4>
              <h5 class="indigo-text"><strong>Welcome to our Air Quality web application.</strong></h5>
              <p class="card-text">With our app, you can easily monitor activity, temperature and quality of the air in your building.</p>
              <p class="card-text">On our demo we used a sensor for light, CO2, temperature and humidity.</p>
      
          </div>
          <!--/.Card content-->
      
      </div>
      <!--/.Card-->
  </div>
<div class=" col-md-2">
</div>




<!-- testing notification
<div *ngIf="message">
    <div class="row">
        <pre>{{ message |async| json }}</pre>
    </div>
    <div class="media-left">
        <a href="#">
            <img class="media-object" style="height:100px" src="{{message.notification.icon}}" alt="{{message.notification.title}}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ message.notification.title }}</h4>
        <h6>{{ message.notification.body }}</h6>
    </div>
</div>-->
</div>